.container{
    text-align: center;
margin-top: 23px;
background-color: tomato;
grid-template-columns: gh;
border-radius: 100px;
height: 500px;
width: 700px;
margin: auto;

}
table{
    margin: auto;
    grid-area: hd
}
input[type="button"] {
    grid-area: lss;
    background-color: black;
   background-color: lightgreen;
        border-radius: 90px;
        font-size: 20px;
       height:59px ;
       width: 100px;
    }
    input[type="text"]{
        background-color: lightgreen;
        border-radius: 90px;
        font-size: 20px;
        border: black 1px solid;
        width: 400px;
        height: 48px;
    }
body{
    background-color: black;
}

.calculator{
    padding: 23px;
    border: radius 53px; 
    grid-area: rss;
}
.calc{
    text-align: center;
    margin-top: 23px;
    grid-area: ft;
}
@media only screen and (max-width:1200px)
{
    .container{
        grid-template-areas: 'hd' 'lss' 'is' 'ft' 'rss';
    }
}
